<div th:fragment="content(btn_title, modal_id, form_url)" class="container">
    <button
            th:attr="data-target=${modal_id}, hx-get=${form_url}"
            class="pico-background-green-650 modal-btn"
            th:text="${btn_title}"
            hx-target="#form-edit"
            hx-swap="outerHTML">
    </button>
    <dialog th:id="${modal_id}" class="modal">
        <article>
            <header>
                <button aria-label="Close"
                        rel="prev"
                        class="modal-btn"
                        th:attr="data-target=${modal_id}"
                ></button>
            </header>
            <div id="form-edit">
                <article aria-busy="true"></article>
            </div>
        </article>
    </dialog>
</div>